# main app
Django~=4.0.4
wikipedia~=1.4.0
fuzzywuzzy~=0.18.0
requests~=2.27.1
torch==1.10.2
transformers==4.14.1
rdflib~=6.1.1
faiss-cpu~=1.7.2
numpy~=1.22.3
pandas==1.4.2
xmltodict~=0.13.0

# scripts
pycld3~=0.22
tqdm~=4.64.0
beautifulsoup4~=4.11.1
elasticsearch~=7.15.1
keybert==0.5.1
cso-classifier==3.0