{% extends '_base.html' %}

{% block content %}
    <br/>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <button type="submit" class="button is-link">Sign Up!</button>
        </div>

        {#        <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Sign Up</button>#}
        By continuing, you are indicating that you accept our Terms of Service and Privacy Policy.

    </form>

    If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.


    {% include "_footer.html" %}

{% endblock %}
