{% extends "_base.html" %}
{% load static %}
{% block content %}

    <div class="search-box">
        <img src="{% static 'logo.png' %}" class="search-box__logo" width="300" height="300">

        <form id="search_box" method="GET" action="/search">
            <div class="search-box__input">
                <input type="search" class="input mr-2" name="search_query" value="Natural Language Processing"
                       placeholder="Search" aria-label="Search"/>
                <button class="button is-primary">Search</button>
                <input type='hidden' name='source' value="main_search">
            </div>
        </form>
    </div>

    {% include "_footer.html" %}
{% endblock %}
