/* 
  TODO: This file should be refactored (split) into smaller files. Depending
        on CSS expertise it can be done in one of two ways:
  
        1. Move it to postcss and use imports;
        2. Split it into home.css, search-results.css and common.css.
*/

.footer {
  background: transparent;
  padding: 16px;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vmin - 100px);
  max-width: 500px;
  margin: 16px auto;
  padding: 0 10px;
  width: 100%;
}

.search-box__logo {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.search-box__input {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .search-results {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
  }

  .search-results > div {
    overflow-y: auto;
  }

  .search-results > div:first-child {
    border-right: 1px solid #efefef;
  }

  .search-results > div:last-child {
    border-left: 1px solid #efefef;
    margin-left: -1px;
  }
}

.search-results__list {
  padding: 16px;
}

.search-small {
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.search-small__logo {
  margin-right: 10px;
  width: 60px;
}

.search-small__input {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-width: 550px;
}

.card__text em {
  background: #ffeaa7;
  border-radius: 8px;
}

.card__show-more {
  background: transparent;
  border: 0;
  color: #3498db;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  line-height: inherit;
  text-decoration: underline;
}

.card__show-more:hover {
  text-decoration: none;
}

.card--wiki {
  outline: 3px solid;
}

[x-cloak] {
  display: none;
}

.concept-map-page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.concept-map-page__taxonomies {
  padding: 1em 1em 1em 2em;
}

.concept-map {
  overflow-x: hidden;
}

@media screen and (min-width: 600px) {
  .concept-map {
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;
    justify-content: center;
  }
}

.concept-map > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.concept-map__row {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.concept-map__row a {
  margin: 0 5px;
}

.about {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.about__logo {
  display: block;
  margin: 0 auto;
}

.about__text {
  line-height: 1.5;
}

.about__text p {
  margin: 16px 0;
}

.navbar__logo {
  height: 60px;
}

.register, .signin, .user-profile {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.register p, .signin p {
  margin: 10px 0;
}

.user-profile__text {
  line-height: 1.5;
}

.user-profile__text p {
  margin: 16px 0;
}