.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.footer {
  padding: 16px;
  text-align: center;
}

.search-box {
  max-width: 500px;
  margin: 16px auto;
  width: 100%;
}

.search-box__logo {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.search-box__input {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
