/* 
  TODO: This file should be refactored (split) into smaller files. Depending
        on CSS expertise it can be done in one of two ways:
  
        1. Move it to postcss and use imports;
        2. Split it into home.css, search-results.css and common.css.
*/

.footer {
  background: transparent;
  padding: 16px;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vmin - 100px);
  max-width: 500px;
  margin: 16px auto;
  width: 100%;
}

.search-box__logo {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.search-box__input {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.search-results {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.search-results > div {
  overflow-y: auto;
}

.search-results > div:first-child {
  border-right: 1px solid #efefef;
}

.search-results > div:last-child {
  border-left: 1px solid #efefef;
  margin-left: -1px;
}

.search-results__list {
  padding: 16px;
}

.seach-small {
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 16px;
}

.card__show-more {
  background: transparent;
  border: 0;
  color: #3498db;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  line-height: inherit;
  text-decoration: underline;
}

.card__show-more:hover {
  text-decoration: none;
}

.card--wiki {
  outline: 3px solid;
}

[x-cloak] {
  display: none;
}

.concept-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.concept-map__row {
  display: flex;
  margin: 10px 0;
}

.concept-map__row a {
  margin: 0 5px;
}