{% extends '_base.html' %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h1 class="title is-1">Literature review menu</h1>
            <a href="{% url 'literature_review:create_new_review' %}" class="button is-link">
                Create new review
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <table class="table is-striped table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Discipline</th>
                    <th>Search queries</th>
                    <th>#PDFs / #papers</th>
                    <th>#Screened (%)</th>
                    <th>Decisions (I / ? / E)</th>
                </tr>
                </thead>
                <tbody>
                {% for review in literature_reviews %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td><a href="{% url 'literature_review:review_details' review.id %}">{{ review.title }}</a></td>
                        <td>{{ review.description }}</td>
                        <td>{{ review.discipline }}</td>
                        <td>
                            {% for query in review.search_queries %}
                                <span class="tag is-light">{{ query }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ review.number_of_pdfs }} / {{ review.number_of_papers }}</td>
                        <td>{{ review.number_of_screened }} ({{ review.percentage_screened }}%)</td>
                        <td>{{ review.decisions_count.0 }} / {{ review.decisions_count.1 }} / {{ review.decisions_count.2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "_footer.html" %}
{% endblock %}
