{% extends '_base_templates/_base.html' %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h1 class="title is-1">
                My literature reviews
                <a href="{% url 'literature_review:create_new_review' %}" class="button is-link ml-5 mt-3">
                    Create new review
                </a>
            </h1>
        </div>
    </div>

    <div class="card">
        <div x-data="sortTable()" class="card-content">
            <table class="table is-striped table is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th @click="sortByColumn">Number</th>
                    <th @click="sortByColumn">Title</th>
                    <th @click="sortByColumn">Description</th>
                    <th @click="sortByColumn">Discipline</th>
                    <th @click="sortByColumn">Search queries</th>
                    <th @click="sortByColumn">#papers</th>
                    <th @click="sortByColumn">#PDFs</th>
                    <th @click="sortByColumn">#Screened</th>
                    <th @click="sortByColumn">% Screened</th>
                    <th @click="sortByColumn">Decisions (I / ? / E)</th>
                </tr>
                </thead>
                <tbody x-ref="tbody">
                {% for review in literature_reviews %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td><a href="{% url 'literature_review:review_details' review.id %}">{{ review.title }}</a></td>
                        <td>{{ review.description }}</td>
                        <td>{{ review.discipline }}</td>
                        <td>
                            {% for query in review.search_queries %}
                                <span class="tag is-light">{{ query }}</span>
                            {% endfor %}
                        </td>
                        <td>{{ review.number_of_papers }}</td>
                        <td>{{ review.number_of_pdfs }}</td>
                        <td>{{ review.number_of_screened }}</td>
                        <td>{{ review.percentage_screened }}%</td>
                        <td>{{ review.decisions_count.0 }} / {{ review.decisions_count.1 }}
                            / {{ review.decisions_count.2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include "_base_templates/_footer.html" %}
{% endblock %}
