{% extends '_base_templates/_base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header pl-4">
            {% include 'literature_review/_review_header.html' %}
        </div>
        <div class="card-content">
            <h1 class="title is-4">
                Review: {{ review.title }}
            </h1>
            <h5 class="is-5">Import papers to the review. Supported formats: .bib and .ris</h5>
            <hr/>
            <form method="POST" enctype="multipart/form-data"
                  action="{% url 'literature_review:import_papers' review.id %}">
                {% csrf_token %}
                <div id="file-js-example" class="file has-name m-2">
                    <label class="file-label">
                        <input class="file-input form-control" type="file" id="bibliography_file"
                               name="bibliography_file" required="True">
                        <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                          Choose a bibliography file to import
                      </span>
                    </span>
                        <span class="file-name">
                            No file uploaded
                    </span>
                    </label>
                </div>
                <button class="button is-info is-light is-fullwidth mt-5">Import</button>
            </form>

            <script>
                const fileInput = document.querySelector('#file-js-example input[type=file]');
                fileInput.onchange = () => {
                    if (fileInput.files.length > 0) {
                        const fileName = document.querySelector('#file-js-example .file-name');
                        fileName.textContent = fileInput.files[0].name;
                    }
                }
            </script>

        </div>
    </div>


    {% include "_base_templates/_footer.html" %}
{% endblock %}
