{% extends '_base_templates/_base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header pl-4">
            <a href="{% url 'literature_review:review_details' review.id %}" class="button is-link is-small">
                Back
            </a>
            <p class="pl-4 pt-1"><strong>Review title:</strong> {{ review.title }}</p>
        </div>
        <div class="card-content" x-data="{ openAbstract: false, openReviewDescription: false}">
            <h1 class="title is-3">
                {{ paper.title }}
                {% if paper.url %}
                    <a href="{{ paper.url }}">🌐</a>
                {% endif %}
            </h1>
            {% if paper.abstract != paper.abstract|first_n_char:1600  %}
                <template x-if="openAbstract">
                    <p class="is-5"><strong>Abstract:</strong> {{ paper.abstract | safe }}
                        <button type="button" class="card__show-more" x-on:click="openAbstract = false">Show less
                        </button>
                    </p>
                </template>
                <template x-if="!openAbstract" x-cloak>
                    <p class="is-5"><strong>Abstract:</strong> {{ paper.abstract|first_n_char:1600 }}...
                        <button type="button" class="card__show-more" x-on:click="openAbstract = true">Show full abstract
                        </button>
                    </p>
                </template>
            {% elif paper.abstract %}
                <p class="is-5"><strong>Abstract:</strong> {{ paper.abstract | safe }}</p>
            {% elif paper.snippet %}
                <p class="is-5"><strong>Snippet:</strong> {{ paper.snippet | safe }}...</p>
            {% else %}
                <p class="is-5"><strong>Abstract:</strong> No abstract available</p>
            {% endif %}
            <p class="is-italic p-2">
                {{ paper.authors }}
                {% if paper.doi %}
                    <span class="has-text-grey-light is-size-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✦&nbsp;&nbsp;<a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></span>
                {% endif %}
            </p>
            <p class="has-text-grey p-2">
                {{ paper.publication_date }} —
                {% if paper.venue %}
                    {{ paper.venue }}
                {% else %}
                    <span class="is-italic">No venue information</span>
                {% endif %}
            </p>
            <hr/>
            <form method="POST" action="{% url 'citation_screening:screen_papers' review.id %}">
                {% csrf_token %}
                <input class="input mr-2" name="paper_id" value="{{ paper.id }}" type="hidden"/>
                <input class="input mr-2" name="start_time" value="{{ start_time }}" type="hidden"/>
                <strong><span class="has-background-orange-light mb-2">1. Relevance</span>
                    {% if 'relevance' in review.obligatory_fields %}
                        <span class="has-text-danger"> *</span>
                    {% endif %}
                </strong>
                <div class="screen_paper_relevance control m-2 p-1 box">
                    <span class="tag is-light is-size-6">Domain relevance: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <label class="ml-4">
                        {% if paper_decision.domain_relevance == 2 %}
                            <input type="radio" name="domain_relevance" value="2" {{ review|is_field_required:'relevance' }} checked="checked">
                        {% else %}
                            <input type="radio" name="domain_relevance" value="2" {{ review|is_field_required:'relevance' }} >
                        {% endif %}
                        <span class="button is-small">very relevant</span>
                    </label>
                    <label class="ml-4">
                        {% if paper_decision.domain_relevance == 1 %}
                            <input type="radio" name="domain_relevance" value="1" checked="checked">
                        {% else %}
                            <input type="radio" name="domain_relevance" value="1">
                        {% endif %}
                        <span class="button is-small">somewhat relevant</span>
                    </label>
                    <label class="ml-4">
                        {% if paper_decision.domain_relevance == 0 %}
                            <input type="radio" name="domain_relevance" value="0" checked="checked">
                        {% else %}
                            <input type="radio" name="domain_relevance" value="0">
                        {% endif %}
                        <span class="button is-small">not relevant</span>
                    </label>
                </div>
                <div class="screen_paper_relevance control m-2 p-1 box">
                    <span class="tag is-light is-size-6">Relevance to the query: </span>
                    <label class="ml-4">
                        {% if paper_decision.topic_relevance == 2 %}
                            <input type="radio" name="topic_relevance" value="2" {{ review|is_field_required:'relevance' }} checked="checked">
                        {% else %}
                            <input type="radio" name="topic_relevance" value="2" {{ review|is_field_required:'relevance' }}>
                        {% endif %}
                        <span class="button is-small">very relevant</span>
                    </label>
                    <label class="ml-4 is-small">
                        {% if paper_decision.topic_relevance == 1 %}
                            <input type="radio" name="topic_relevance" value="1" checked="checked">
                        {% else %}
                            <input type="radio" name="topic_relevance" value="1">
                        {% endif %}
                        <span class="button is-small">somewhat relevant</span>
                    </label>
                    <label class="ml-4">
                        {% if paper_decision.topic_relevance == 0 %}
                            <input type="radio" name="topic_relevance" value="0" checked="checked">
                        {% else %}
                            <input type="radio" name="topic_relevance" value="0">
                        {% endif %}
                        <span class="button is-small">not relevant</span>
                    </label>
                </div>
                <hr/>
                <div class="columns">
                    <div class="column">
                        <strong><span class="has-background-orange-light mb-2">2. Inclusion criteria</span>
                            {% if 'inclusion' in review.obligatory_fields %}
                                <span class="has-text-danger"> *</span>
                            {% endif %}
                        </strong>
                        {% for criterion in review.criteria.inclusion %}
                            {%  if criterion.is_active %}
                            <div class="control m-2 p-1 box screen_paper_relevance">
                                <span class="is-light tag is-size-6 eligibility_text_tag">{{ criterion.text }}</span>
                                <label class="ml-1">
                                    {% if paper_decision.inclusion_decisions|_hash:criterion.id == 'yes' %}
                                        <input type="radio" name="{{ criterion.id }}" value="yes" {{ review|is_field_required:'inclusion' }}checked="checked">
                                    {% else %}
                                        <input type="radio" name="{{ criterion.id }}" value="yes" {{ review|is_field_required:'inclusion' }}>
                                    {% endif %}
                                    <span class="button is-small">Yes</span>
                                </label>
                                <label>
                                    {% if paper_decision.inclusion_decisions|_hash:criterion.id == 'not_sure' %}
                                        <input type="radio" name="{{ criterion.id }}" value="not_sure" checked="checked">
                                    {% else %}
                                        <input type="radio" name="{{ criterion.id }}" value="not_sure">
                                    {% endif %}
                                    <span class="button is-small">Not sure</span>
                                </label>
                                <label>
                                    {% if paper_decision.inclusion_decisions|_hash:criterion.id == 'no' %}
                                        <input type="radio" name="{{ criterion.id }}" value="no" checked="checked">
                                    {% else %}
                                        <input type="radio" name="{{ criterion.id }}" value="no">
                                    {% endif %}
                                    <span class="button is-small">No</span>
                                </label>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column">
                        <strong><span class="has-background-orange-light mb-2">3. Exclusion criteria</span>
                            {% if 'exclusion' in review.obligatory_fields %}
                                <span class="has-text-danger"> *</span>
                            {% endif %}
                        </strong>
                        {% for criterion in review.criteria.exclusion %}
                            {%  if criterion.is_active %}
                            <div class="control m-2 p-1 box screen_paper_relevance">
                                <span class="tag is-light is-size-6 eligibility_text_tag">{{ criterion.text }}</span>
                                <label class="ml-1">
                                    {% if paper_decision.exclusion_decisions|_hash:criterion.id == 'yes' %}
                                        <input type="radio" name="{{ criterion.id }}" value="yes" {{ review|is_field_required:'exclusion' }} checked="checked">
                                        {% else %}
                                        <input type="radio" name="{{ criterion.id }}" value="yes" {{ review|is_field_required:'exclusion' }}>
                                    {% endif %}
                                    <span class="button is-small">Yes</span>
                                </label>
                                <label>
                                    {% if paper_decision.exclusion_decisions|_hash:criterion.id == 'not_sure' %}
                                        <input type="radio" name="{{ criterion.id }}" value="not_sure" checked="checked">
                                    {% else %}
                                        <input type="radio" name="{{ criterion.id }}" value="not_sure">
                                    {% endif %}
                                    <span class="button is-small">Not sure</span>
                                </label>
                                <label>
                                    {% if paper_decision.exclusion_decisions|_hash:criterion.id == 'not_sure' %}
                                        <input type="radio" name="{{ criterion.id }}" value="no" checked="checked">
                                    {% else %}
                                        <input type="radio" name="{{ criterion.id }}" value="no">
                                    {% endif %}
                                    <span class="button is-small">No</span>
                                </label>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <strong><span class="has-background-orange-light mb-2">
                    4. Descriptive reason
                </span></strong>
                {% if paper_decision.reason %}
                    <input class="input mr-2 mt-2" name="reason" value="{{ paper_decision.reason }}"/>
                {% else %}
                    <input class="input mr-2 mt-2" name="reason" value=""/>
                {% endif %}

                <div class="screen_paper_relevance control mt-4">
                    <strong><span class="has-background-orange-light mb-2">5. Decision based on title and abstract</span>
                        {% if 'decision' in review.obligatory_fields %}
                            <span class="has-text-danger"> *</span>
                        {% endif %}
                    </strong>
                    <label class="ml-4">
                        {% if paper_decision.decision == 1 %}
                            <input type="radio" name="decision" value="1" {{ review|is_field_required:'decision' }} checked="checked">
                        {% else %}
                            <input type="radio" name="decision" value="1" {{ review|is_field_required:'decision' }}>
                        {% endif %}
                        <span class="button is-small">Include</span>
                    </label>
                    <label class="ml-4">
                        {% if paper_decision.decision == -1 %}
                            <input type="radio" name="decision" value="-1" checked="checked">
                        {% else %}
                            <input type="radio" name="decision" value="-1">
                        {% endif %}
                        <span class="button is-small">Not sure</span>
                    </label>
                    <label class="ml-4">
                        {% if paper_decision.decision == 0 %}
                            <input type="radio" name="decision" value="0" checked="checked">
                        {% else %}
                            <input type="radio" name="decision" value="0">
                        {% endif %}
                        <span class="button is-small">Exclude</span>
                    </label>
                </div>

                <hr/>
                <div class="control pb-1 screen_paper_relevance">
                    <strong><span class="has-background-orange-light mb-2">6. Did you know this paper before?</span>
                        {% if 'past_knowledge' in review.obligatory_fields %}
                            <span class="has-text-danger"> *</span>
                        {% endif %}
                    </strong>
                    <label class="m-3">
                        {% if paper_decision.paper_prior_knowledge == 2 %}
                            <input type="radio" name="paper_prior_knowledge" value="2" {{ review|is_field_required:'past_knowledge' }} checked="checked">
                        {% else %}
                            <input type="radio" name="paper_prior_knowledge" value="2" {{ review|is_field_required:'past_knowledge' }}>
                        {% endif %}
                        <span class="button is-small">I knew and read the full paper before</span>
                    </label>
                    <label>
                        {% if paper_decision.paper_prior_knowledge == 1 %}
                            <input type="radio" name="paper_prior_knowledge" value="1" checked="checked">
                        {% else %}
                            <input type="radio" name="paper_prior_knowledge" value="1">
                        {% endif %}
                        <span class="button is-small">I knew the paper but not read the full paper before</span>
                    </label>
                    <label>
                        {% if paper_decision.paper_prior_knowledge == 0 %}
                            <input type="radio" name="paper_prior_knowledge" value="0" checked="checked">
                        {% else %}
                            <input type="radio" name="paper_prior_knowledge" value="0">
                        {% endif %}
                        <span class="button is-small">I did not know it before</span>
                    </label>
                </div>
                <div class="control pb-1 screen_paper_relevance">
                    <strong><span class="has-background-orange-light mb-2">7. Did you know any of the authors before?</span>
                        {% if 'past_knowledge' in review.obligatory_fields %}
                            <span class="has-text-danger"> *</span>
                        {% endif %}
                    </strong>
                    <label class="m-3">
                        {% if paper_decision.authors_prior_knowledge == 1 %}
                            <input type="radio" name="authors_prior_knowledge" value="1" {{ review|is_field_required:'past_knowledge' }} checked="checked">
                        {% else %}
                            <input type="radio" name="authors_prior_knowledge" value="1" {{ review|is_field_required:'past_knowledge' }}>
                        {% endif %}
                        <span class="button is-small">Yes, I knew at least one of the authors</span>
                    </label>
                    <label>
                        {% if paper_decision.authors_prior_knowledge == 0 %}
                            <input type="radio" name="authors_prior_knowledge" value="0" checked="checked">
                        {% else %}
                            <input type="radio" name="authors_prior_knowledge" value="0">
                        {% endif %}
                        <span class="button is-small">No, I did not know any of the authors</span>
                    </label>
                </div>
                <button class="button is-info is-light is-fullwidth mt-5">Submit</button>
            </form>

        </div>
    </div>


    {% include "_base_templates/_footer.html" %}
{% endblock %}
