{% extends '_base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header pl-4">
            <a href="{% url 'literature_review:review_details' review.id %}" class="button is-link is-small">
                Back
            </a>
        </div>
        <div class="card-content">
            <h1 class="title is-1">{{ review.title }}</h1>
            <p class="is-5"><strong>Review description:</strong> {{ review.description }}</p>

            <h1 class="title is-3">{{ paper.title }}</h1>
            <p class="is-5"><strong>Abstract:</strong> {{ paper.abstract }}</p>
            <p class="has-text-grey p-3">{{ paper.publication_date }} -- {{ paper.venue }}</p>
            <p class="is-italic p-3">{{ paper.authors }}</p>
            <hr/>

            <form method="POST" action="{% url 'literature_review:screen_papers' review.id %}">
                {% csrf_token %}
                <input class="input mr-2" name="paper_id" value="{{ paper.id }}" type="hidden"/>
                <div class="control p-1">
                    Did you knew this paper before?
                    <label class="radio">
                        <input type="radio" name="prior_knowledge" value="2" required>
                        2 (I knew and read the full paper before)
                    </label>
                    <label class="radio">
                        <input type="radio" name="prior_knowledge" value="1">
                        1 (I knew but not read the full paper before)
                    </label>
                    <label class="radio">
                        <input type="radio" name="prior_knowledge" value="0">
                        0 (I did not know it before)
                    </label>
                </div>
                <div class="control p-1">
                    Domain relevance
                    <label class="radio has-text-success">
                        <input type="radio" name="domain_relevance" value="2" required>
                        2 (very relevant)
                    </label>
                    <label class="radio">
                        <input type="radio" name="domain_relevance" value="1">
                        1 (somewhat relevant)
                    </label>
                    <label class="radio has-text-danger">
                        <input type="radio" name="domain_relevance" value="0">
                        0 (not relevant)
                    </label>
                </div>
                <div class="control p-1">
                    Topic relevance
                    <label class="radio has-text-success">
                        <input type="radio" name="topic_relevance" value="2" required>
                        2 (very relevant)
                    </label>
                    <label class="radio">
                        <input type="radio" name="topic_relevance" value="1">
                        1 (somewhat relevant)
                    </label>
                    <label class="radio has-text-danger">
                        <input type="radio" name="topic_relevance" value="0">
                        0 (not relevant)
                    </label>
                </div>
                <div class="control p-1">
                    Decision based on title and abstract
                    <label class="radio has-text-success">
                        <input type="radio" name="decision" value="1" required>
                        1 (include)
                    </label>
                    <label class="radio">
                        <input type="radio" name="decision" value="-1">
                        <span>-1 (not sure)</span>
                    </label>
                    <label class="radio has-text-danger">
                        <input type="radio" name="decision" value="0">
                        0 (exclude)
                    </label>
                </div>

                <hr/>
                {% for criterion in review.inclusion_criteria %}
                    <div class="control p-1">
                        <span class="tag is-success is-light">{{ criterion }}</span>
                        <label class="radio">
                            <input type="radio" name="inclusion_{{ forloop.counter }}" value="yes">
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="inclusion_{{ forloop.counter }}" value="no">
                            No
                        </label>
                    </div>
                {% endfor %}
                <hr/>
                {% for criterion in review.exclusion_criteria %}
                    <div class="control p-1">
                        <span class="tag is-danger is-light">{{ criterion }}</span>
                        <label class="radio">
                            <input type="radio" name="exclusion_{{ forloop.counter }}" value="yes" required>
                            Yes
                        </label>
                        <label class="radio">
                            <input type="radio" name="exclusion_{{ forloop.counter }}" value="no">
                            No
                        </label>
                    </div>
                {% endfor %}
                <hr/>
                Descriptive reason: <input class="input mr-2" name="reason" value="" required/>
                <button class="button is-primary m-3">Submit</button>
            </form>

        </div>
        <div class="card-footer pl-4">
            <a href="{% url 'literature_review:review_details' review.id %}" class="button is-link is-small">
                Back
            </a>
        </div>
    </div>


    {% include "_footer.html" %}
{% endblock %}
