{% extends '_base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header pl-4">
            {% include 'literature_review/_review_header.html' %}
        </div>
        <div class="card-content">
            <h1 class="title is-1">
                {{ review.title }}
                {% if review.papers|length > 0 %}
                    {% if review.data_format_version > 2 %}
                        <a href="{% url 'literature_review:screen_papers' review.id %}"
                           class="button is-success is-medium mt-1">
                            Screen papers
                        </a>
                    {% else %}
                        <a class="button is-success is-medium mt-1" disabled>
                            Screen papers
                        </a>
                    {% endif %}
                {% endif %}
            </h1>
            <p class="title is-5"><strong>Description:</strong> {{ review.description }}</p>
            <p>Search queries:
                {% for query in review.search_queries %}
                    <span class="tag is-light">{{ query }}</span>
                {% endfor %}
            </p>
            <hr/>
            <p>
                <strong class="has-background-orange-light m-2">Inclusion criteria:</strong>
                {% for criterion in review.inclusion_criteria %}
                    <span class="tag is-success is-light">{{ criterion }}</span>
                {% endfor %}
            </p>
            <p>
                <strong class="has-background-orange-light m-2">Exclusion criteria:</strong>
                {% for criterion in review.exclusion_criteria %}
                    <span class="tag is-danger is-light">{{ criterion }}</span>
                {% endfor %}
            </p>
            <div x-data="{ openStatistics: false}">
                <template x-if="openStatistics">
                    <table class="table is-striped is-hoverable">
                        <thead>
                        <tr>
                            <th>
                                <button type="button" class="card__show-more" x-on:click="openStatistics = false">Hide
                                    ▴
                                </button>
                            </th>
                            <th>Decisions so far</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="has-text-success">
                            <td>Includes</td>
                            <td>{{ review.decisions_count.0 }}</td>
                        </tr>
                        <tr class="has-text-orange">
                            <td>Maybe</td>
                            <td>{{ review.decisions_count.1 }}</td>
                        </tr>
                        <tr class="has-text-grey-lighter">
                            <td>Excludes</td>
                            <td>{{ review.decisions_count.2 }}</td>
                        </tr>
                        <tr>
                            <td>Missing judgements</td>
                            <td>{{ review.decisions_count.3 }}</td>
                        </tr>
                        </tbody>
                    </table>
                </template>
                <template x-if="!openStatistics">
                    <button type="button" class="m-2 card__show-more" x-on:click="openStatistics = true">Show review
                        statistics ▾
                    </button>
                </template>
            </div>
        </div>
        <div x-data="sortTable()" class="card-content">
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th @click="sortByColumn" class="cursor-pointer">#</th>
                    <th @click="sortByColumn">Title</th>
                    <th @click="sortByColumn">Authors</th>
                    <th @click="sortByColumn">Year</th>
                    <th @click="sortByColumn">Journal</th>
                    <th @click="sortByColumn">Citations</th>
                    <th @click="sortByColumn">Source</th>
                    <th @click="sortByColumn">URL</th>
                    <th @click="sortByColumn">PDF</th>
                    <th @click="sortByColumn">Screened</th>
                    <th @click="sortByColumn">Automatic</th>
                </tr>
                </thead>
                <tbody x-ref="tbody">
                {% for paper in review.papers|convert_papers_list:review.data_format_version %}
                    {% if paper.decision == "1" %}
                        <tr class="has-text-success">
                            {% elif paper.decision == "-1" %}
                        <tr class="has-text-orange">
                            {% elif paper.decision == "0" %}
                        <tr class="has-text-grey-lighter">
                            {% else %}
                        <tr class>
                    {% endif %}
                <th>{{ forloop.counter }}</th>
                <td>
                    <a href="{% url 'literature_review:screen_paper' review_id=review.id paper_id=paper.id %}">{{ paper.title }}</a>
                </td>
                <td>{{ paper.authors }}</td>
                {% if paper.publication_date %}
                    <td>{{ paper.publication_date }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if paper.venue %}
                    <td>{{ paper.venue }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if paper.citations %}
                    <td>{{ paper.citations }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ paper.search_engine }}</td>
                {% if paper.url %}
                    <td class="has-text-centered"><a href="{{ paper.url }}">🌐</a></td>
                {% else %}
                    <td class="has-text-centered">—</td>
                {% endif %}
                {% if paper.pdf %}
                    <td class="has-text-centered"><a href="{{ paper.pdf }}"><img src="{% static 'pdf_icon.svg' %}"
                                                                                 width="18" height="18"></a></td>
                {% else %}
                    <td class="has-text-centered">—</td>
                {% endif %}
                {% if review.data_format_version > 2 %}
                    {% if paper.screened %}
                        <td>Yes, <a
                                href="{% url 'literature_review:screen_paper' review_id=review.id paper_id=paper.id %}">edit</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{% url 'literature_review:screen_paper' review_id=review.id paper_id=paper.id %}">No</a>
                        </td>
                    {% endif %}
                {% else %}
                    <td>—</td>
                {% endif %}
                {% if paper.automatic_decisions.decision == 1 %}
                    <td class="has-text-success">Include ({{ paper.automatic_decisions.probability|stringformat:".4s" }})</td>
                {% elif paper.automatic_decisions.decision == 0 %}
                    <td class="has-text-grey-lighter">Exclude
                        ({{ paper.automatic_decisions.probability|stringformat:".4s" }})
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer pl-4">
            <a href="{% url 'literature_review:literature_review_home' %}" class="button is-link is-small">
                Back
            </a>
        </div>
    </div>


    {% include "_footer.html" %}
{% endblock %}
