<article class="card mb-4" x-data="{ open: false }">
    <div class="card-content">
        <p class="title">{{ search_result.title }}</p>
        <p class="subtitle">{{ search_result.authors }}</p>
    </div>
    <div class="card-content">
        <div class="content">
            <template x-if="open">
                <p>{{ search_result.abstract }}</p>
            </template>
            <template x-if="!open">
                <p>{{ search_result.abstract_short }} <button type="button" class="card__show-more" x-on:click="open = true">Show more</button></p>
            </template>
        </div>
      </div>
</article>
