<div class="concept-map" x-data="conceptMap()">
    <div class="concept-map__row" data-id="subparents">
        {% for parent in concept.parents %}
            {% for subparent in parent.parents %}
                <a href="{% url 'search_results' %}?search_query={{ subparent.title | urlencode }}" class="button is-small" data-parent="{{ forloop.parentloop.counter0 }}">{{ subparent.title }}</a>
            {% endfor %}
        {% endfor %}
    </div>

    <canvas width="1" height="30" x-ref="parentsSubParents"></canvas>

    <div class="concept-map__row" data-id="parents">
        {% for parent in concept.parents %}
            <a href="{% url 'search_results' %}?search_query={{ parent.title | urlencode }}" class="button" data-parent="0">{{ parent.title }}</a>
        {% endfor %}
    </div>

    <canvas width="1" height="30" x-ref="conceptParents"></canvas>

    <div class="concept-map__row" data-id="concept">
        <a href="{% url 'search_results' %}?search_query={{ concept.title | urlencode }}" class="button is-medium">{{ concept.title }}</a><br>
    </div>

    <canvas width="1" height="30" x-ref="conceptChildren"></canvas>

    <div class="concept-map__row" data-id="children">
        {% for child in concept.children %}
            <a href="{% url 'search_results' %}?search_query={{ child.title | urlencode }}" class="button" data-parent="0">{{ child.title }}</a>
        {% endfor %}
    </div>

    <canvas width="1" height="30" x-ref="childrenSubChildren"></canvas>

    <div class="concept-map__row" data-id="subchildren">
        {% for child in concept.children %}
            {% for subchild in child.children %}
                <a href="{% url 'search_results' %}?search_query={{ subchild.title | urlencode }}" class="button is-small" data-parent="{{ forloop.parentloop.counter0 }}">{{ subchild.title }}</a>
            {% endfor %}
        {% endfor %}
    </div>
</div>
