{% load static %}
<nav class="navbar is-light navbar-height" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar__logo" href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}" width="60" height="60">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            {% if user.is_authenticated %}
                <a href="#" class="navbar-item">
                    {{ user.username|title }}
                </a>
                <a href="/logout" class="navbar-item">
                    Logout
                </a>
            {% else %}
                <a href="/register/" class="navbar-item">
                    Register
                </a>
                <a href="/login/" class="navbar-item">
                    Login
                </a>
            {% endif %}

        </div>

    </div>

</nav>
<div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength: 2000});</script>
            {% elif message.tags == 'info' %}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength: 2000});</script>
            {% elif message.tags == 'warning' %}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength: 10000});</script>
            {% elif message.tags == 'error' %}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength: 10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
