{% load static %}

<article class="card my-4 card--wiki">
    <div class="card-content">
        {% if not matched_wiki_page.ambiguous %}
            <p class="subtitle">Multiple matches found. Did you mean:</p>
            <hr />
        {% endif %}
        <p class="title"><a href="{{ matched_wiki_page.url }}">{{ matched_wiki_page.title }}</a></p>
        <p class="subtitle"><img src="{% static 'wikipedia.png' %}" width="24" height="24"> Wikipedia</p>
    </div>
    <div class="card-content">
        <div class="content">
            <p>{{ matched_wiki_page.snippet }}</p>
        </div>
      </div>
</article>
