{% extends '_base_templates/_base.html' %}

{% block content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title is-1">Sign in</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            {{ form.username|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            {{ form.password|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Sign in</button>
                        </div>
                    </div>
                </form>
                <p>Don't have an account? <a href="/register"><strong>Register here</strong></a>!</p>
            </div>
        </div>
    </div>

    {% include "_base_templates/_footer.html" %}
{% endblock %}
