{% extends "_base_templates/_base.html" %}

{% block content %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title is-1">{{ user.get_full_name }}</h1>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>First name: {{ user.first_name }}</p>
                <p>Last name: {{ user.last_name }}</p>
                <hr/>

                <p>Date of birth: {{ user.date_of_birth }}</p>
                <p>Location: {{ user.location }}</p>
                <p>Languages: {{ user.user_languages }}</p>
                <p>Knowledge areas: {{ user.user_knowledge_areas }}</p>
                <p>System preferences</p>
                <p>Allow personalised logging: {{ user.allow_logging }}</p>
                <div x-data="{user_organisations: []}"
                     x-init="user_organisations = await (await fetch('find_organisations/{{ user.id }}')).json()">

                    <span>User organisations:</span>
                    <template x-for="organisation in user_organisations">
                        <a class="tag m-2" :href="'/view_organisation/' + organisation.id"
                           x-text="organisation.title"></a>
                    </template>
                </div>
                <hr/>
                <a class="button is-link" href="{% url 'edit_user_profile' %}">Edit user</a>
            </div>
        </div>
    </div>
    {% include "_base_templates/_footer.html" %}
{% endblock %}
