{% load static %}

<article class="card mb-4" x-data="{ openAbstract: false, openKeywords: false, showCSOKeywords: false}">
    <div class="card-content pb-1">
        <p class="title">
            {% if search_result.url %}
                <a href="{{ search_result.url }}">{{ search_result.title }}</a>
            {% else %}
                {{ search_result.title }}
            {% endif %}
            {% if search_result.pdf %}
                <a href="{{ search_result.pdf }}"><img src="{% static 'img/pdf-icon.svg' %}" width="25" height="25"></a>
            {% endif %}
        </p>
        <p class="subtitle mb-2">{{ search_result.authors }}</p>
        <p>
            <span class="is-size-6 p-0 m-0 has-text-primary">{{ search_result.publication_date }} - {{ search_result.venue }}</span>
            {% if search_result.doi %}
                <span class="has-text-grey-light is-size-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✦&nbsp;&nbsp;<a
                        href="https://doi.org/{{ search_result.doi }}">{{ search_result.doi }}</a></span>
            {% endif %}
        </p>
    </div>
    <div class="card-content pt-1">
        <div class="content">
            {% if search_result.abstract != search_result.abstract|first_n_char:500 %}
                <template x-if="openAbstract">
                    <p class="is-5"><strong>Abstract:</strong> {{ search_result.abstract | safe }}
                        <button type="button" class="card__show-more" x-on:click="openAbstract = false">Show less
                        </button>
                    </p>
                </template>
                <template x-if="!openAbstract" x-cloak>
                    <p class="is-5"><strong>Abstract:</strong> {{ search_result.abstract|first_n_char:500 }}...
                        <button type="button" class="card__show-more" x-on:click="openAbstract = true">Show full
                            abstract
                        </button>
                    </p>
                </template>
            {% elif search_result.abstract %}
                <p class="is-5"><strong>Abstract:</strong> {{ search_result.abstract | safe }}</p>
            {% elif search_result.snippet %}
                <p class="is-5"><strong>Snippet:</strong> {{ search_result.snippet | safe }}...</p>
            {% else %}
                <p class="is-5"><strong>Abstract:</strong> No abstract available</p>
            {% endif %}
            <p>
                {% for keyword, score in search_result.keywords_snippet.items %}
                    <a href="{% url 'search_results' %}?search_query={{ keyword | urlencode }}&source=keywords"
                       class="button is-light is-small mb-2 {{ score|keywords_threshold }}">{{ keyword }}</a>
                {% endfor %}

                {% if search_result.keywords_rest|length > 0 %}
                    <template x-if="!openKeywords">
                        <button type="button" class="card__show-more" x-on:click="openKeywords = true">Show more
                        </button>
                    </template>
                    <template x-if="openKeywords">
                        <span>
                            {% for keyword, score in search_result.keywords_rest.items %}
                                <a href="{% url 'search_results' %}?search_query={{ keyword | urlencode }}&source=keywords"
                                   class="button is-light is-small mb-2 {{ score|keywords_threshold }}">{{ keyword }}</a>
                            {% endfor %}
                            <button type="button" class="card__show-more"
                                    x-on:click="openKeywords = false">Show less</button>
                        </span>
                    </template>
                {% endif %}
            </p>
            <p class="has-text-info">
                Cited by {{ search_result.citations }}&nbsp;&nbsp; - &nbsp;&nbsp;{{ search_result.references }}
                references
            </p>

        </div>
    </div>
</article>
